In [1]:
#tidy data
# concatenating data
# merging datasets

In [12]:
import pandas as pd

In [13]:
df1 = pd.read_csv('concat_1.csv')
df2 = pd.read_csv('concat_1.csv')
df3 = pd.read_csv('concat_1.csv')

In [14]:
print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [15]:
print(df2)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [16]:
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [17]:
#concatenation
row_concat = pd.concat([df1,df2,df3])
print(row_concat)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [18]:
print(row_concat.iloc[3,])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [19]:
new_row_series = pd.Series(['n1','n2','n3','n4'])
print(new_row_series)

0    n1
1    n2
2    n3
3    n4
dtype: object

In [20]:
#attempt to add the new row to a dataframe
print(pd.concat([df1,new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [21]:
new_row_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']], columns = ['A','B','C','D'])
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [22]:
print(pd.concat([df1,new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [23]:
# USING A DATAFRAME
print(df1.append(df2))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [25]:
# using a single row dataframe
print(df1.append(new_row_df))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [27]:
# ignoring the index 
row_concat_i = pd.concat([df1,df2,df3], ignore_index = True)
print(row_concat_i)

     A   B   C   D
0   a0  b0  c0  d0
1   a1  b1  c1  d1
2   a2  b2  c2  d2
3   a3  b3  c3  d3
4   a0  b0  c0  d0
5   a1  b1  c1  d1
6   a2  b2  c2  d2
7   a3  b3  c3  d3
8   a0  b0  c0  d0
9   a1  b1  c1  d1
10  a2  b2  c2  d2
11  a3  b3  c3  d3

In [28]:
# addind coloums
col_concat = pd.concat([df1,df2,df3], axis = 1)
print(col_concat)

    A   B   C   D   A   B   C   D   A   B   C   D
0  a0  b0  c0  d0  a0  b0  c0  d0  a0  b0  c0  d0
1  a1  b1  c1  d1  a1  b1  c1  d1  a1  b1  c1  d1
2  a2  b2  c2  d2  a2  b2  c2  d2  a2  b2  c2  d2
3  a3  b3  c3  d3  a3  b3  c3  d3  a3  b3  c3  d3

In [29]:
col_concat['new_col_list'] = ['n1','n2', 'n3', 'n4']
print(col_concat)

    A   B   C   D   A   B   C   D   A   B   C   D new_col_list
0  a0  b0  c0  d0  a0  b0  c0  d0  a0  b0  c0  d0           n1
1  a1  b1  c1  d1  a1  b1  c1  d1  a1  b1  c1  d1           n2
2  a2  b2  c2  d2  a2  b2  c2  d2  a2  b2  c2  d2           n3
3  a3  b3  c3  d3  a3  b3  c3  d3  a3  b3  c3  d3           n4

In [30]:
col_concat['new_col_series'] = pd.Series(['n1','n2', 'n3', 'n4'])
print(col_concat)

    A   B   C   D   A   B   C   D   A   B   C   D new_col_list new_col_series
0  a0  b0  c0  d0  a0  b0  c0  d0  a0  b0  c0  d0           n1             n1
1  a1  b1  c1  d1  a1  b1  c1  d1  a1  b1  c1  d1           n2             n2
2  a2  b2  c2  d2  a2  b2  c2  d2  a2  b2  c2  d2           n3             n3
3  a3  b3  c3  d3  a3  b3  c3  d3  a3  b3  c3  d3           n4             n4

In [32]:
print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3