In [1]:
#tidy data
# concatenating data
# merging datasets

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('concat_1.csv')
df2 = pd.read_csv('concat_1.csv')
df3 = pd.read_csv('concat_1.csv')

In [4]:
print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [5]:
print(df2)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [6]:
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [7]:
#concatenation
row_concat = pd.concat([df1,df2,df3])
print(row_concat)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [8]:
print(row_concat.iloc[3,])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [9]:
new_row_series = pd.Series(['n1','n2','n3','n4'])
print(new_row_series)

0    n1
1    n2
2    n3
3    n4
dtype: object

In [10]:
#attempt to add the new row to a dataframe
print(pd.concat([df1,new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [11]:
new_row_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']], columns = ['A','B','C','D'])
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [12]:
print(pd.concat([df1,new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [13]:
# USING A DATAFRAME
print(df1.append(df2))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [14]:
# using a single row dataframe
print(df1.append(new_row_df))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [15]:
# ignoring the index 
row_concat_i = pd.concat([df1,df2,df3], ignore_index = True)
print(row_concat_i)

     A   B   C   D
0   a0  b0  c0  d0
1   a1  b1  c1  d1
2   a2  b2  c2  d2
3   a3  b3  c3  d3
4   a0  b0  c0  d0
5   a1  b1  c1  d1
6   a2  b2  c2  d2
7   a3  b3  c3  d3
8   a0  b0  c0  d0
9   a1  b1  c1  d1
10  a2  b2  c2  d2
11  a3  b3  c3  d3

In [16]:
# adding coloums
col_concat = pd.concat([df1,df2,df3], axis = 1)
print(col_concat)

    A   B   C   D   A   B   C   D   A   B   C   D
0  a0  b0  c0  d0  a0  b0  c0  d0  a0  b0  c0  d0
1  a1  b1  c1  d1  a1  b1  c1  d1  a1  b1  c1  d1
2  a2  b2  c2  d2  a2  b2  c2  d2  a2  b2  c2  d2
3  a3  b3  c3  d3  a3  b3  c3  d3  a3  b3  c3  d3

In [17]:
col_concat['new_col_list'] = ['n1','n2', 'n3', 'n4']
print(col_concat)

    A   B   C   D   A   B   C   D   A   B   C   D new_col_list
0  a0  b0  c0  d0  a0  b0  c0  d0  a0  b0  c0  d0           n1
1  a1  b1  c1  d1  a1  b1  c1  d1  a1  b1  c1  d1           n2
2  a2  b2  c2  d2  a2  b2  c2  d2  a2  b2  c2  d2           n3
3  a3  b3  c3  d3  a3  b3  c3  d3  a3  b3  c3  d3           n4

In [18]:
col_concat['new_col_series'] = pd.Series(['n1','n2', 'n3', 'n4'])
print(col_concat)

    A   B   C   D   A   B   C   D   A   B   C   D new_col_list new_col_series
0  a0  b0  c0  d0  a0  b0  c0  d0  a0  b0  c0  d0           n1             n1
1  a1  b1  c1  d1  a1  b1  c1  d1  a1  b1  c1  d1           n2             n2
2  a2  b2  c2  d2  a2  b2  c2  d2  a2  b2  c2  d2           n3             n3
3  a3  b3  c3  d3  a3  b3  c3  d3  a3  b3  c3  d3           n4             n4

In [19]:
print(df1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

## Concatenation with different indices

In [21]:
df1.columns = ['A', 'B', 'C', 'D']
df2.columns = ['E', 'F', 'G', 'H']
df3.columns = ['A', 'C', 'F', 'H']

In [22]:
print(df1)
print(df2)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    E   F   G   H
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    A   C   F   H
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [23]:
row_concat = pd.concat([df1,df2,df3])
print(row_concat)

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a0   b0   c0   d0
1  NaN  NaN  NaN  NaN   a1   b1   c1   d1
2  NaN  NaN  NaN  NaN   a2   b2   c2   d2
3  NaN  NaN  NaN  NaN   a3   b3   c3   d3
0   a0  NaN   b0  NaN  NaN   c0  NaN   d0
1   a1  NaN   b1  NaN  NaN   c1  NaN   d1
2   a2  NaN   b2  NaN  NaN   c2  NaN   d2
3   a3  NaN   b3  NaN  NaN   c3  NaN   d3

In [24]:
print(pd.concat([df1,df3], ignore_index = False, join='inner'))

    A   C
0  a0  c0
1  a1  c1
2  a2  c2
3  a3  c3
0  a0  b0
1  a1  b1
2  a2  b2
3  a3  b3

## Concatenate columns with different rows

In [ ]:
df1.index = [0,1,2,3]
df2.index = [4,5,6,7]
df3.index = [0,2,5,7]

In [25]:
col_concat = pd.concat([df1,df2,df3], axis = 1)
print(col_concat)

    A   B   C   D   E   F   G   H   A   C   F   H
0  a0  b0  c0  d0  a0  b0  c0  d0  a0  b0  c0  d0
1  a1  b1  c1  d1  a1  b1  c1  d1  a1  b1  c1  d1
2  a2  b2  c2  d2  a2  b2  c2  d2  a2  b2  c2  d2
3  a3  b3  c3  d3  a3  b3  c3  d3  a3  b3  c3  d3

# Merge Multiple Datasets

### One-to-One Merge

In [27]:
person = pd.read_csv('survey_person.csv')
site = pd.read_csv('survey_site.csv')
survey = pd.read_csv('survey_survey.csv')
visited = pd.read_csv('survey_visited.csv')

In [28]:
visited_subset = visited.loc[[0,2,6], ]
o2o_merge = site.merge(visited_subset, left_on='name', right_on='site')

In [29]:
print(o2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

### Many to One

In [30]:
m2o_merge = site.merge(visited,left_on='name', right_on='site')
print(m2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

### Many to Many merge

In [31]:
ps = person.merge(survey, left_on='ident', right_on = 'person')
vs = visited.merge(survey, left_on='ident', right_on = 'taken' )

In [32]:
print(ps)

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25

In [33]:
# passing mutiple columns to mathc on a python list
ps_vs = ps.merge(vs,left_on=['ident','taken', 'quant','reading'], right_on = ['person','ident','quant','reading'])
print(ps_vs.loc[0, ])

ident_x           dyer
personal       William
family            Dyer
taken_x            619
person_x          dyer
quant              rad
reading           9.82
ident_y            619
site              DR-1
dated       1927-02-08
taken_y            619
person_y          dyer
Name: 0, dtype: object